flujo-nodered.json
[
    {
        "id": "tab1",
        "type": "tab",
        "label": "IoT Capstone - Luca y Bruno",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "tab1",
        "name": "Cada 10 segundos",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "http1"
            ]
        ]
    },
    {
        "id": "http1",
        "type": "http request",
        "z": "tab1",
        "name": "GET /data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://callback-iot.up.railway.app/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "function1"
            ]
        ]
    },
    {
        "id": "function1",
        "type": "function",
        "z": "tab1",
        "name": "Ordenar y extraer 2 mas recientes",
        "func": "// El endpoint devuelve un array de objetos con los registros del dispositivo IoT.\n// Cada objeto tiene (al menos) un campo de fecha/hora y uno o mas valores de sensor.\n// Ajustar el nombre del campo de fecha segun la respuesta real del endpoint\n// (por ejemplo: timestamp, fecha, createdAt, date).\n\nlet datos = msg.payload;\n\n// Si por algun motivo no llega un array, no seguimos.\nif (!Array.isArray(datos) || datos.length === 0) {\n    node.warn(\"El endpoint no devolvio datos en este momento\");\n    return null;\n}\n\n// Ordenamos de mas reciente a mas antiguo segun el campo de fecha/hora.\ndatos.sort((a, b) => {\n    let fechaA = new Date(a.timestamp || a.fecha || a.createdAt || a.date);\n    let fechaB = new Date(b.timestamp || b.fecha || b.createdAt || b.date);\n    return fechaB - fechaA;\n});\n\n// Nos quedamos solo con los dos registros mas recientes.\nlet ultimosDos = datos.slice(0, 2);\n\nmsg.payload = ultimosDos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "function2",
                "debug1"
            ]
        ]
    },
    {
        "id": "function2",
        "type": "function",
        "z": "tab1",
        "name": "Preparar valor para Gauge/Chart",
        "func": "// Tomamos el registro mas reciente (posicion 0) para alimentar\n// el gauge y el chart con un valor numerico.\n// Ajustar el nombre del campo segun el sensor real (ej: valor, temperatura, humedad).\n\nlet masReciente = msg.payload[0];\n\nlet valor = masReciente.valor ?? masReciente.temperatura ?? masReciente.humedad ?? 0;\n\nmsg.payload = valor;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 80,
        "wires": [
            [
                "gauge1",
                "chart1"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "tab1",
        "name": "JSON crudo (2 mas recientes)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge1",
        "type": "ui_gauge",
        "z": "tab1",
        "name": "Gauge sensor",
        "group": "group1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Valor del sensor",
        "label": "unidades",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 1110,
        "y": 60,
        "wires": []
    },
    {
        "id": "chart1",
        "type": "ui_chart",
        "z": "tab1",
        "name": "Chart historico",
        "group": "group1",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Historico del sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "%H:%M:%S",
        "interpolate": "linear",
        "nodata": "Esperando datos...",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e"
        ],
        "useDifferentColor": false,
        "x": 1110,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "group1",
        "type": "ui_group",
        "name": "Dashboard IoT",
        "tab": "tab_ui",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "tab_ui",
        "type": "ui_tab",
        "name": "Proyecto Capstone IoT",
        "icon": "dashboard",
        "order": 1
    }
]
